*.o
*.pyc
*~
ANNOUNCEMENT
AUTOFILES
auto_pwd.c
auto-python
auto_python.c
ChangeLog
compile
compilepy
ezmlm-browse-reconfig
ezmlm-browse-setup
load
Makefile
python-head.py
README
SRCFILES
TARGETS
version.py
which
wrapper
